@import "../scss/utils";

.detail {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: $background-light;
  display: flex;
  align-items: center;
}

.closeBtn {
  color: $darker-grey;
  position: absolute;
  right: 80px;
  top: 40px;
  width: 48px;
  height: 48px;
  border: 5px solid $darker-grey;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: white;
    border-color: white;
  }
}

.heading {
  color: white;
  text-align: center;
}

.popup {
  background: $background;
  border: 1px solid $darker-grey;
  border-radius: 5px;
  color: $primary-cyan;
  padding: 20px 40px;
  width: 60%;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;

  :global(.carousel-inner) {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;

    :global(.carousel-item) {
      backface-visibility: visible;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: black;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $darker-grey;
      border-radius: 10px;
    }
  }

  :global(.carousel-indicators) {
    bottom: -10%;
  }

  :global(.carousel-control-prev),
  :global(.carousel-control-next) {
    cursor: pointer;
  }
}
