@import "../scss/utils";

.notFound {
  color: $eclipse;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.robot {
  width: 430px;
  height: 430px;
}

.left,
.right {
  text-align: center;
}

.link {
  color: $primary-cyan;
  text-decoration: none !important;

  &:hover {
    color: $darker-cyan;
  }
}
