@import "../scss/utils";

.heading {
  color: yellow;
  text-align: center;
  margin-top: 100px;
}

.people {
  background-color: black;
  color: yellow;
  display: flex;
  align-items: center;
  padding: 100px 40px 40px;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

.pageBtn {
  background: transparent;
  border: none;
  color: yellow;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid yellow;
  width: 120px;
  height: 120px;
  padding: 8px;
  margin-right: 16px;
  margin-bottom: 16px;

  a {
    text-decoration: none;
    text-align: center;
  }
}
