@import "../scss/utils";

.people {
  background-color: black;
  color: yellow;
  display: flex;
  align-items: center;
  padding: 80px 40px;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

.pageBtn {
  background: transparent;
  border: none;
  color: yellow;

  &:focus {
    outline: none;
  }
}

.item {
  border: 1px solid yellow;
  width: 100px;
  height: 100px;
  margin-left: 16px;
  margin-bottom: 16px;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}
