@import "../scss/utils";

.xBackground {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cls-1 {
  fill: #1f1f1f;
}

.cls-2 {
  fill: url(#linear-gradient);
}

.cls-3 {
  fill: #00fff5;
}

.cls-4 {
  fill: url(#linear-gradient-2);
}

.cls-5 {
  fill: #fff;
}

.cls-6 {
  fill: none;
}

.cls-7 {
  filter: url(#Path_10);
}

.cls-8 {
  filter: url(#Path_5);
}

.cls-9 {
  filter: url(#use19413);
}

.cls-10 {
  filter: url(#use19411);
}

.cls-11 {
  filter: url(#use19409-2);
}

.cls-12 {
  filter: url(#use19409);
}

.cls-13 {
  filter: url(#use19407);
}

.cls-14 {
  filter: url(#use19405-2);
}

.cls-15 {
  filter: url(#use19405);
}

.cls-16 {
  filter: url(#use19403);
}

.cls-17 {
  filter: url(#Path_4);
}

.cls-18 {
  filter: url(#Path_11);
}

.cls-19 {
  filter: url(#Path_3);
}

.cls-20 {
  filter: url(#Path_2);
}

.cls-21 {
  filter: url(#Path_1);
}

.cls-22 {
  filter: url(#Path_1509);
}

.cls-23 {
  filter: url(#Path_1511);
}

.cls-24 {
  filter: url(#Path_1507);
}

.cls-25 {
  filter: url(#Path_1506);
}

.cls-26 {
  filter: url(#Path_1575);
}
