// Colors
$primary-cyan: #00fff5;
$dark-grey: #626262;
$darker-grey: #222222;
$nero: #272727;
$eclipse: #404040;
$night-rider: #353535;
$dark-cyan: #1bb1ab;
$darker-cyan: #0e6265;
$background: rgba(0, 0, 0, 0.9);
$background-light: rgba(0, 0, 0, 0.8);

$font-family-cursive: "Poller One", cursive;

// Bootstrap overwrite
$font-family-base: "Raleway", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif: $font-family-base;
